<%= simple_form_for [@friend] do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :personnality %>
  <%= f.input :hobby %>
  <%= f.input :availability %>
  <%= f.input :localisation %>
   <%= f.input :event_category %>
  <%= f.submit %>
<% end %>

<% if policy(Friend).create? %>
  <%= link_to "New friend profile", new_friend_path %>
<% end %>

<% @friends.each do |friend| %>
  <% if policy(friend).edit? %>
    <%= link_to "Update", edit_friend_path(friend) %>
  <% end %>
<% end %>


<h1>
  <%= @friend.first_name %>
   <%= @friend.last_name %>
  <button class="btn btn-link">Request</button>
  <%= link_to "delete this friend", friend_path(@friend), method: :delete, class: "btn btn-cancel", data: { confirm: "Are you sure you want to delete this friend?" } %>
 </h1>
