<div class="container-buddyup">
  <div class="log-buttons">
    <%= link_to "Login", new_user_session_path %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  </div>


  <div class="back-friends">
    <%= link_to "< Back", friends_path %>
  </div>

  <div class="profile-image", style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
  url(<%=@friend.photo.attached? ? cl_image_path(@friend.photo.key) : asset_path("default.jpg") %>)">
  </div>

  <div class="cards">

      <div class="profile-description">

        <div class="card-friend-infos">
          <div>
            <div class="card-friend-infos-first-line">
              <h2><%= @friend.first_name.upcase %></h2>
              <div class="calendar-line">
                <ion-icon name="calendar-outline"></ion-icon><p class="available"><%= @friend.availability %></p>
              </div>
            </div>

            <div class="localisation-line">
              <ion-icon name="pin-outline"></ion-icon><p class="localisation"><%= @friend.localisation %></p>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>


            <div class="logos-first-line">
              <div class="personnality-line">
                <ion-icon name="accessibility-outline"></ion-icon><p><%= @friend.personnality %></p>
              </div>

              <div class="event-line">
                <ion-icon name="wine-outline"></ion-icon><p><%= @friend.event_category %></p>
              </div>

              <div class="hobby-line">
                <ion-icon name="heart-outline"></ion-icon><p><%= @friend.hobby %></p>
              </div>
            </div>

            <div class="card-friend-infos-details"></div>
          </div>
        </div>
      </div>
  </div>

    <div>
    <button id="click-me">Request</button>
    </div>

<% @friend.reviews %>
<% @friend.reviews.each do |review| %>
  <%= review.comment %>
  <%= review.rating %>
<% end %>


<div class="text-background">
<div class="overlay">

  <div class="card-friend" id="popup">


    <% if @friend.photo.attached? %>
      <%= cl_image_tag @friend.photo.key %>
    <% else %>
      <%= image_tag("default.jpg") %>
    <% end %>

    <div class="card-friend-infos">
      <div>
        <h2 class="confirmation">Your request was accepted and confirmed!</h2>
        <p class="resa-details">With <strong><%= @friend.first_name %></strong></p>
        <p class="resa-details">- <strong><%= @friend.localisation %></strong> -</p>
        <p class="resa-details">For <strong><%= @friend.event_category %></strong></p>

        <div class="valid-reservation-button">
          <a class="send-chat" href="/chatroom">Chat</a>
        </div>

        <a class="back-pop">Close</a>

      </div>
    </div>
  </div>

</div>
</div>
</div>
