<div class="container-buddyup">
  <div class="log-buttons">
    <%= link_to "Login", new_user_session_path %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  </div>

<div class="search-bar">
    <p>Search...</p>
  </div>


  <div class="cards">
    <% @friends.each do |friend| %>
    <div class="card-friend">
      <img src="https://images.unsplash.com/photo-1581803118522-7b72a50f7e9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" />
      <div class="card-friend-infos">
        <div>
          <div class="card-friend-infos-first-line">
            <h2><%= friend.first_name%></h2>
            <div class="calendar-line">
            <ion-icon name="calendar-outline"></ion-icon><p class="available"><%= friend.availability %></p>
            </div>
          </div>

          <div class="localisation-line">
            <ion-icon name="pin-outline"></ion-icon><p class="localisation"><%= friend.localisation %></p>
          </div>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>


      <div class="logos-first-line">
          <div class="personnality-line">
          <ion-icon name="accessibility-outline"></ion-icon><p><%= friend.personnality %></p>
          </div>

            <div class="event-line">
           <ion-icon name="wine-outline"></ion-icon><p><%= friend.event_category %></p>
           </div>

            <div class="hobby-line">
            <ion-icon name="heart-outline"></ion-icon><p><%= friend.hobby %></p>
            </div>
      </div>


          <div class="card-friend-infos-details">

          </div>
        </div>

      </div>

    </div>


  <% end %>
      </div>
<button class="btn btn-flat">Request</button>
    </div>

  </div>
</div>
