
<div>
  <div class= "infos-chat">
    <%= image_tag('default.jpg')%>
    <h1>Discussions</h1>
    <ion-icon name="add-outline", class= "icon-chat"></ion-icon>
  </div>
 <p class= 'search-chat'>Search</p>
  <div class= 'commentaire'><%= image_tag 'friend.jpg' %>
      <div class='bg_commentaire'>
        <p>Lea Dumont</p>
        <p class = 'date_commentaire'>A l'intant</p>
      </div>
    </div>

    <div class= 'commentaire'><%= image_tag 'lea.jpeg' %>
      <div class='bg_commentaire'>
        <p>Eva Orindes</p>
        <p class = 'date_commentaire'>Hier</p>
      </div>
    </div>

    <div class= 'commentaire'><%= image_tag 'paul.jpeg' %>
      <div class='bg_commentaire'>
        <p>Nathan Doloresse</p>
        <p class = 'date_commentaire'> 28 Mai 2022</p>
      </div>
    </div>

    <div class= 'commentaire'><%= image_tag 'nathan.jpg' %>
      <div class='bg_commentaire'>
        <p>Thomas Faubert</p>
        <p class = 'date_commentaire'> 21 Mai 2022</p>
      </div>
    </div>

    <div class= 'commentaire'><%= image_tag 'valeria.jpeg' %>
      <div class='bg_commentaire'>
        <p>Charlotte Panzani</p>
        <p class = 'date_commentaire'>21 Mai 2022</p>
      </div>
    </div>

    <div class= 'commentaire'><%= image_tag 'friend1.jpg' %>
      <div class='bg_commentaire'>
        <p>Florent Guy</p>
        <p class = 'date_commentaire'>18 mai 2022</p>
      </div>
    </div>

    <div class= 'commentaire'><%= image_tag 'lina.jpeg' %>
      <div class='bg_commentaire'>
        <p>Lina El Amrani</p>
        <p class = 'date_commentaire'>12 mai 2022</p>
      </div>
    </div>



</div>
