<div class="container-buddyup">
  <% if user_signed_in? %>

    <div class="top-profil">
      <div class="user-profil">
        <div class="avatar-img">
          <% if @user.photo.attached? %>
          <%= cl_image_tag (@user.photo) %>
          <% else %>
          <%= image_tag('woman.jpg') %>
          <% end %>
        </div>
        <h2><%= @user.name %></h2>

      </div>
      <div class="edit-profil">
        <p class="buttonedit"><%= link_to "Edit", edit_user_registration_path %></p>
      </div>
    </div>

    <div class="friends">
      <div class="allfriends">
        <div class="friends-yours">
          <p>Your current friend:</p>
          <div class="explore-link"><%= link_to "Explore >", profil_path %></div>
        </div>
        <%= image_tag 'friend1.jpg' %>
      </div>
    </div>

    <%= link_to "New friend", new_friend_path , class:"btn btn-flat" %>

    <div class= 'line'></div>
    <h1 class= 'titre'>Identity</h1>
    <div class= 'identité'>
      <div class = 'iconsidentité'><p><ion-icon name="shield-checkmark-outline"></ion-icon>ID</p></div>
      <div class = 'iconsidentité'><p><ion-icon name="shield-checkmark-outline"></ion-icon>E-mail address</p></div>
      <div class = 'iconsidentité'><p><ion-icon name="shield-checkmark-outline"></ion-icon>Phone number</p></div>
    </div>
    <div class= 'line'></div>
    <h1 class= 'titre' >2 commentaires</h1>
    <div class= 'commentaire'><%= image_tag 'friend1.jpg' %>
      <div class='bg_commentaire'>
        <p>Very nice, I recommend</p>
        <p class = 'date_commentaire'>Juin 2022</p>
      </div>
    </div>
    <br>
    <div class= 'commentaire'><%= image_tag 'friend.jpg' %>
      <div class='bg_commentaire'>
        <p>Unmatched humor, great afternoon!</p>
        <p class = 'date_commentaire'>Mai 2022</p>
      </div>
    </div>

    <% else %>
      <button class="btn btn-link">Login</button>

  <% end %>
</div>
