<% if user_signed_in? %>
  <% if current_user.photo.attached?  %>
  <div class = 'container_buddyup'>
    <%= cl_image_tag(current_user.photo.key, class: "avatar-img") %>
    <%= link_to "Edit", profil_path, class: "btn btn-flat", id: 'buttonedit'%></div>
    <p> User 1 <% current_user %></p>
    <div class= 'friends'>
      <div class = allfriends ><p>Your current friends</p>
      <%= cl_image_tag 'cba3ulehgxdzjc2lzfh4' %></div>
      <%= link_to "Explore >", profil_path %>
    </div>
    <%= link_to "New friend", new_friend_path, class: "btn btn-flat" %>
    <div class= 'line'></div>
    <h1>User 1 has confirmed their identity</h1>
    <div class= 'identité'>
      <div class = 'iconsidentité'><p><ion-icon name="shield-checkmark-outline"></ion-icon> Identité</p></div>
      <div class = 'iconsidentité'><p><ion-icon name="shield-checkmark-outline"></ion-icon> Adresse e-mail</p></div>
      <div class = 'iconsidentité'><p><ion-icon name="shield-checkmark-outline"></ion-icon> Numero de telephone</p></div>
    </div>
    <div class= 'line'></div>
    <h1>1 commentaires</h1>
    <div class= 'commentaire'><%= cl_image_tag 'cba3ulehgxdzjc2lzfh4' %>
    <div ><p>Très sympa, je recommande les yeux fermés à bientot</p>
    <p>Juin 2022</p></div></div>
    <br>
    <div class= 'commentaire'><%= cl_image_tag 'cba3ulehgxdzjc2lzfh4' %>
    <div ><p>Très sympa, je recommande les yeux fermés à bientot</p>
    <p>Juin 2022</p></div></div>


  <% else %>
    <button class="btn btn-link">Login</button>
  <% end %>
<% end %>
