<div class='big_container'>
  <% if user_signed_in? %>

    <div class = 'container_buddyup'>
      <%# <%= cl_image_tag(current_user.photo.key, class: "avatar-img") %>
      <%= image_tag("woman.jpg", class: "avatar-img") %>
      <%= link_to "Edit", edit_user_registration_path, class: "btn btn-flat", id: 'buttonedit'%>
    </div>
    <h1 class= 'titre'> User 1 <% current_user %></h1>
    <div class= 'friends'>
      <div class = allfriends >
        <div >
          <p>Your current friends</p>
          <div class= 'lien_explore'><%= link_to "Explore >", profil_path %></div>
        </div>
        <%= image_tag 'friend1.jpg' %>
      </div>
  </div>
    <%= link_to "New friend", new_friend_path , class:"btn btn-flat" %>
    <div class= 'line'></div>
    <h1 class= 'titre'>User 1 has confirmed their identity</h1>
    <div class= 'identité'>
      <div class = 'iconsidentité'><p><ion-icon name="shield-checkmark-outline"></ion-icon> Identité</p></div>
      <div class = 'iconsidentité'><p><ion-icon name="shield-checkmark-outline"></ion-icon> Adresse e-mail</p></div>
      <div class = 'iconsidentité'><p><ion-icon name="shield-checkmark-outline"></ion-icon> Numero de telephone</p></div>
    </div>
    <div class= 'line'></div>
    <h1 class= 'titre' >2 commentaires</h1>
    <div class= 'commentaire'><%= image_tag 'friend1.jpg' %>
      <div class='bg_commentaire'>
        <p>Very nice, I recommend</p>
        <p class = 'date_commentaire'>Juin 2022</p>
      </div>
    </div>
    <br>
    <div class= 'commentaire'><%= image_tag 'friend.jpg' %>
      <div class='bg_commentaire'>
        <p>Unmatched humor, great afternoon!</p>
        <p class = 'date_commentaire'>Mai 2022</p>
      </div>
    </div>

    <% else %>
      <button class="btn btn-link">Login</button>

  <% end %>
</div>
