

<div class="container-buddyup">

    <%# <div class="filters">
    <ion-icon name="filter-outline"></ion-icon>
    </div> %>
    <%# :( plus de filtre %>

     <%= simple_form_for :search, url: friends_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <%= text_field_tag :query, params[:query], class:"form-control", placeholder: "Find a friend" %>
    <button name="button" type="submit" class="btn btn-flat-search">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
<% end %>


  </div>

  <h1 class="subtitle">Latest</h1>

  <div class="cards-pro">
    <div class="card-profile" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1581803118522-7b72a50f7e9f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80)">

      <div class="profile-reservation-infos">
        <h3>John</h3>
        <p>Event date</p>
      </div>
    </div>
     <div class="card-profile" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1589156191108-c762ff4b96ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=986&q=80)">
      <div class="profile-reservation-infos">
        <h3>Léa</h3>
        <p class = 'date'>Event date</p>
      </div>
    </div>
  </div>



  <h1 class="subtitle">Preferred</h1>

  <div class="card-preferred">
    <img src="https://images.unsplash.com/photo-1488161628813-04466f872be2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80" />
    <div class="card-preferred-infos">
      <div class="infos-text">
      <h2>Nathan</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="infos-stars">
        <p>4.6</p><ion-icon name="star"></ion-icon>
      </div>
    </div>
  </div>

  <div class="card-preferred">
    <img src="https://images.unsplash.com/photo-1589156191108-c762ff4b96ab?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=986&q=80" />
    <div class="card-preferred-infos">
      <div class="infos-text">
      <h2>Lina</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      <div class="infos-stars">
        <p>4.9</p><ion-icon name="star"></ion-icon>
      </div>
    </div>
  </div>

<h1 class="subtitle">Add your review</h1>

  <div class= "form-reviews">
 <% @friends.each do |friend| %>
      <p class= "name-reviews"> <%= friend.first_name%> </p>
        <%= simple_form_for [friend, @review] do |f| %>
        <div>
          <%= f.input :comment, label: false, placeholder: "Add your review here..." %>
          <%= f.input :rating, label: false, as: :select, collection: (1..5), required: true, prompt: "What's your rating", input_html: { data: { controller: "jquery-bar-rating" } } %>
          <%= f.submit class:"btn btn-flat" %>
        </div>
        <% end %>
       <% end %>
  </div>

</div>
